@model Employee
@{
    ViewData["Title"] = "EmployeeDetails";
    Layout = "~/Views/SharedNew/_Layout.cshtml";
}
<h1 class="fw-bolder text-center " style="color:darkred">Personel  @Model.Name &nbsp; @Model.Surname Detaylı Bilgiler </h1>
<style>
    .rounded-image-container {
        overflow: hidden;
        border-radius: 50%;
        width: 300px; /* Ayarladığınız genişliğe göre değiştirebilirsiniz */
        height: 300px; /* Ayarladığınız yüksekliğe göre değiştirebilirsiniz */
        margin: 0 auto; /* Sayfa genişliğine göre merkezlemek için */
    }

    .rounded-left {
        float: left;
    }
</style>

@if (!String.IsNullOrEmpty(Model.ImagePath))
{
    <div class="rounded-image-container">
        <img class="card-img-top rounded-left" src="~/images/@Model.ImagePath" alt="Card image cap">
    </div>
}
else
{
    <div class="rounded-image-container">
        <img class="card-img-top rounded-left" src="~/images/Noimage.png" alt="Card image cap">
    </div>
}
 <ul class="list-group">
                <li class="list-group-item">Ünvan : @Model.Title</li>
                <li class="list-group-item">Yaş :  @Model.Age</li>
                <li class="list-group-item">Cinsiyet : @Model.GenderStatus</li>
                <li class="list-group-item">Email : @Model.Email</li>
                <li class="list-group-item">Adres : @Model.Address</li> 
            </ul>



